@model moodi.ViewModels.MeditationViewModel

<h3>Feeling @Model.Mood.Name?</h3>

<p><br />Check out this meditation:</p>

<audio controls>
    <source src=@Model.Meditation.SourceFile type="audio/mpeg" />
</audio>