@model DailyReport

<h3>Daily Report for @Model.Date.ToShortDateString()</h3>

<div>
    <h6>My mood:</h6>
    <p>@Model.Mood.Name</p>

    <h6>My journal:</h6>
    <p>@Model.Journal.Text</p>

    <h6>My meditations:</h6>
    @if (Model.Meditation != null)
    {
        <p>@Model.Meditation</p>
    }
</div>