@model DailyReport

<h3>Daily Report for @Model.Date.ToShortDateString()</h3>

<div>
    <h6>My mood:</h6>
    <p>@Model.Mood.Name</p>

    <h6>My journal:</h6>
    <p>@Model.Journal.Text</p>

    @if (Model.Meditation != null)
    {
        <h6>My meditations:</h6>
        <p>@Model.Meditation.Name</p>
    }
</div>

<button asp-controller="DailyReport" asp-action="Index">Back to dashboard</button>