@model List<DailyReport>
<h1>My moodi</h1>

<ul>
    @foreach (var dailyReport in Model)
    {
        <li>@dailyReport.ToString()</li>
    }
</ul>

<a asp-controller="DailyReport" asp-action="Add">Make daily report</a>



