@model List<DailyReport>
<h1>My moodi</h1>
<table>
@foreach (DailyReport dailyReport in Model)
{
   <tr>
       <th>Date</th>
       <td>@dailyReport.Date</td>
   </tr>
   <tr>
       <th>Mood</th>
       <td>@dailyReport.Mood.Name</td>
   </tr>
}
</table>
<a asp-controller="DailyReport" asp-action="Add">Make daily report</a>



